# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data_df = pd.read_csv("../Weather_py/Outputs/Weather-data.csv", )
weather_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,port alfred,-33.59,26.89,68.00,85,25,3.00,ZA,1609453377
1,rocha,-34.48,-54.33,67.93,43,0,5.95,UY,1609453379
2,mataura,-46.19,168.86,55.00,97,100,3.00,NZ,1609453380
3,jamestown,42.10,-79.24,30.00,79,90,3.56,US,1609453381
4,vieste,41.88,16.18,41.00,93,5,1.12,IT,1609453382
...,...,...,...,...,...,...,...,...,...
552,santa fe,-31.63,-60.70,87.01,20,0,1.12,AR,1609454085
553,walvis bay,-22.96,14.51,63.00,77,95,11.41,NaN,1609454002
554,bathurst,-33.42,149.58,64.00,70,93,1.01,AU,1609453851
555,luganville,-15.53,167.17,84.20,79,75,3.36,VU,1609454089
556,szczecinek,53.71,16.70,28.99,94,75,5.84,PL,1609454090

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
locations = weather_data_df[["Lat", "Lng"]]
humidity = weather_data_df["Humidity"]

gmaps.configure(api_key="AIzaSyBODrQZh4WJ7334DbSa3H4fyVliE-xgi14")
city_data = gmaps.figure()
heat_map = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, point_radius = 3,
                               opacity=0.8,  max_intensity = max(humidity))
city_data.add_layer(heat_map)
city_data

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
ideal_weather_df = weather_data_df.loc[(weather_data_df['Max Temp'] > 67)&
                                       (weather_data_df['Max Temp'] < 76)&
                                       (weather_data_df['Wind Speed'] <= 9)&
                                       (weather_data_df['Cloudiness'] == 0)].reset_index(drop=True)
ideal_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,rocha,-34.48,-54.33,67.93,43,0,5.95,UY,1609453379
1,belle glade,26.68,-80.67,75.99,82,0,3.00,US,1609453345
2,sao filipe,14.90,-24.50,74.28,78,0,8.66,CV,1609453569
3,yulara,-25.24,130.99,69.80,22,0,8.05,AU,1609453511
4,teseney,15.11,36.66,71.17,62,0,8.95,ER,1609453715
5,kolondieba,11.09,-6.89,74.91,18,0,2.10,ML,1609453779
6,kangaba,11.93,-8.42,74.44,22,0,3.11,ML,1609453804
7,caravelas,-17.71,-39.25,74.98,79,0,6.64,BR,1609453829
8,ayorou,14.73,0.92,75.33,18,0,7.25,NE,1609453920
9,alice springs,-23.70,133.88,71.60,40,0,4.70,AU,1609453856
10,diffa,13.32,12.61,70.52,22,0,8.10,NE,1609454051

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
hotel_df = ideal_weather_df
hotels = []
parameters = {
    'radius':5000,
    'types':'lodging',
    'key':g_key}
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
for i, row in hotel_df.iterrows():
    lat=row['Lat']
    lng=row['Lng']
    parameters['location'] = f"{lat},{lng}"
        
    response = requests.get(url,params=parameters)
    results = response.json()
       
    try:
        hotel = results['results'][0]['name'] 
        print(hotel)
        hotels.append(hotel)
    except :
        print('Hotel not found!!')
        hotel = "No Hotel Nearby"
        hotels.append(hotel)

hotel_df['Hotel Name'] = hotels

hotel_df

Beleza Pura B&B
Mid-City Trailer Park
Tortuga B&B
Desert Gardens Hotel - Ayers Rock Resort
Sabrin Hotel
Hotel Dakan
HÃ´tel MandÃ©
Pousada dos Navegantes
Hotel Amenokal
Desert Palms Alice Springs
ProDAF/Diffa

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,rocha,-34.48,-54.33,67.93,43,0,5.95,UY,1609453379,Beleza Pura B&B
1,belle glade,26.68,-80.67,75.99,82,0,3.00,US,1609453345,Mid-City Trailer Park
2,sao filipe,14.90,-24.50,74.28,78,0,8.66,CV,1609453569,Tortuga B&B
3,yulara,-25.24,130.99,69.80,22,0,8.05,AU,1609453511,Desert Gardens Hotel - Ayers Rock Resort
4,teseney,15.11,36.66,71.17,62,0,8.95,ER,1609453715,Sabrin Hotel
5,kolondieba,11.09,-6.89,74.91,18,0,2.10,ML,1609453779,Hotel Dakan
6,kangaba,11.93,-8.42,74.44,22,0,3.11,ML,1609453804,HÃ´tel MandÃ©
7,caravelas,-17.71,-39.25,74.98,79,0,6.64,BR,1609453829,Pousada dos Navegantes
8,ayorou,14.73,0.92,75.33,18,0,7.25,NE,1609453920,Hotel Amenokal
9,alice springs,-23.70,133.88,71.60,40,0,4.70,AU,1609453856,Desert Palms Alice Springs
10,diffa,13.32,12.61,70.52,22,0,8.10,NE,1609454051,ProDAF/Diffa

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add marker layer ontop of heat map
locations = hotel_df[["Lat", "Lng"]]
hotel_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
city_data.add_layer(hotel_layer)

# Display figure
city_data

Figure(layout=FigureLayout(height='420px'))